/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 0; // 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 0.888888em; // $type-size-6;
  border-collapse: collapse;
  border: none; // 1px solid $light-gray;

  & + table {
    margin-top: 0; //1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: none; // 1px solid $light-gray;
}

th {
  padding: 0; // 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: none; // 1px solid $light-gray;
}

td {
  padding: 0; // 0.5em;
  border-bottom: none; // 1px solid $light-gray;
  border-right: none; // 1px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}